th {
    color: black;
    font-size:12pt;
    font-weight: bold;
  }

/* BOOTSTRAP */
.btn-warning {
    --bs-btn-color: #fff!important;
    --bs-btn-bg: #ffc107!important;
    --bs-btn-border-color: #ffc107!important;
    --bs-btn-hover-color: #000!important;
    --bs-btn-hover-bg: #ffca2c!important;
    --bs-btn-hover-border-color: #ffc720!important;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000!important;
    --bs-btn-active-bg: #ffcd39!important;
    --bs-btn-active-border-color: #ffc720!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000!important;
    --bs-btn-disabled-bg: #ffc107!important;
    --bs-btn-disabled-border-color: #ffc107!important;
}

.btn-danger {
    --bs-btn-color: #fff!important;
    --bs-btn-bg: #dc3545!important;
    --bs-btn-border-color: #dc3545!important;
    --bs-btn-hover-color: #fff!important;
    --bs-btn-hover-bg: #bb2d3b!important;
    --bs-btn-hover-border-color: #b02a37!important;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #000!important;
    --bs-btn-active-bg: #b02a37!important;
    --bs-btn-active-border-color: #a52834!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
    --bs-btn-disabled-color: #fff!important;
    --bs-btn-disabled-bg: #dc3545!important;
    --bs-btn-disabled-border-color: #dc3545!important;
}

/* BUTTONS */

button.add-element-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.add-element-button::before {
  content: "\f067"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.edit-element-button {
  position: relative;
  padding-left: 2.1rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.edit-element-button::before {
  content: "\f044"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 400; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.delete-element-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.delete-element-button::before {
  content: "\f2ed"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 400; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.back-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.back-button::before {
  content: "\f100"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

a.search-button,
button.search-button {
  position: relative;
  padding-left: 2.6rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.search-button::before {
  content: "\f002"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.save-button {
  position: relative;
  padding-left: 2.2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.save-button::before {
  content: "\f0c7"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.cancel-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
  background-color: #dc3545;
  border-color: #dc3545;
}

button.cancel-button:hover {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
  background-color: #c82333;
  border-color: #bd2130;
}

.cancel-button::before {
  content: "\f00d"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.back_parent-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.back_parent-button::before {
  content: "\f0e2"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.derive-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.derive-button::before {
  content: "\f074"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

button.reset-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.reset-button::before {
  content: "\f51a"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.reload-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.reload-button::before {
  content: "\f021"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.manage_slotelements-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.manage_slotelements-button::before {
  content: "\f802"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.ingest_mt-button {
  position: relative;
  padding-left: 2.1rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.ingest_mt-button::before {
  content: "\f019"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.uningest_mt-element-button {
  position: relative;
  padding-left: 2.1rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.uningest_mt-element-button::before {
  content: "\f093"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.manage_codebookslots-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.manage_codebookslots-button::before {
  content: "\f0ae"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.manage_annotations-button {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.manage_annotations-button::before {
  content: "\f31c"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.manage_annotation_placement {
  position: relative;
  padding-left: 2.3rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.manage_annotation_placement::before {
  content: "\f658"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.bookmark-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.bookmark-button::before {
  content: "\f02e"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

a.download-button,
button.download-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.download-button::before {
  content: "\f56d"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.check-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
  background-color: #28a745;
  border-color: #28a745;
}

button.check-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.check-button::before {
  content: "\f00c"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.close-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.close-button::before {
  content: "\f057"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.play-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.play-button::before {
  content: "\f04b"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.stream-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.stream-button::before {
  content: "\f550"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.describe-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.describe-button::before {
  content: "\f1b3"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.card-view-button {
  position: relative;
  padding-left: 2.2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.card-view-button::before {
  content: "\f2bb"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 400; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.45rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.table-view-button {
  position: relative;
  padding-left: 2.2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.table-view-button::before {
  content: "\f03a"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.55rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.map-view-button {
  position: relative;
  padding-left: 1.5rem!important; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.map-view-button::before {
  content: "\f279"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.55rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.load-more-button {
  position: relative;
  padding-left: 2.2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.load-more-button::before {
  content: "\f110"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

a.read-button,
button.read-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.read-button::before {
  content: "\f0c6"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

a.more-button,
button.more-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.more-button::before {
  content: "\f101"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

a.view-button,
button.view-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.view-button::before {
  content: "\f06e"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.aprove-button {
  position: relative;
  padding-left: 2.2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

button.aprove-button:hover {
  background-color: #04af5f;
  border-color: #198754;
}

.aprove-button::before {
  content: "\f00c"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.review-element-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

button.review-element-button::before {
  content: "\f1d8"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}

button.generate-ins-element-button {
  position: relative;
  padding-left: 2rem; /* Ajuste conforme necessário para dar espaço ao ícone */
}

button.generate-ins-element-button::before {
  content: "\f013"; /* Código Unicode do ícone de "plus" do FontAwesome */
  font-family: "Font Awesome 6 Free"; /* Certifique-se de que está carregando o FontAwesome */
  font-weight: 900; /* Necessário para a versão sólida dos ícones */
  position: absolute;
  left: 0.75rem; /* Ajuste conforme necessário */
  top: 50%;
  transform: translateY(-50%);
}


/* TABS */
.form-control.nav-link {
  color: rgb(45, 48, 48) !important; /* Define a cor do texto como preto */
  border:2px solid #dddddd !important;
  background-color: #57a7d8 !important;
}

.form-control.nav-link.active {
  color: white !important;
  background-color: #055a8e !important;
  font-weight: 500;
}

/* Infinite Scroll */
#loading-overlay {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 100px;
  height: 100px;
  background: rgba(77, 76, 76, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

ul.vertical-tabs__menu {
  min-width: 250px!important;
}

/*others*/
form#edit-mt-form h1,
form#add-mt-form h1 {margin-top: 1em!important;}


/* STUDYELEMENTS TABLES AND PAGINATION */
#json-table-pager,
#json-table-stream-pager,
#publication-table-pager,
#media-table-pager {
  display: flex;
  gap: 10px;
  justify-content: center;
  /*margin-top: 20px;*/
}

.media-page-link,
.pub-page-link,
.page-link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #007bff;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--bs-pagination-bg);
  color: #000;
}

.media-page-link:hover,
.pub-page-link:hover,
.page-link:hover {
  background-color: #f1f1f1;
  color: #000;
}

div#json-table-pager span.current-page,
div#json-table-stream-pager span.current-page,
div#publication-table-pager span.current-page,
div#media-table-pager span.current-page {
  padding: 5px 10px !important;
  font-weight: bold !important;
  border: 1px solid #007bff !important;
  border-radius: 3px !important;
  background-color: #007bff !important;
  color: white !important;
  cursor: default !important;
}

/* DROP AREA */
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.drop-area.drag-over {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5);
  transform: scale(1.0);
}

/* MODAL DESCRIPTION*/
.rep-generic-modal {
  min-width: 1280px!important;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rep-generic-modal .ui-dialog-titlebar {
  margin-bottom: 20px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card {
  font-size: 0.8rem;
  font-weight: 500;
}

div.details-wrapper [id^="edit-codes-"] .col,
div.details-wrapper [id^="edit-variables-"] .col{
  padding: 0 0.1rem 0 0.1rem!important;
}

div.details-wrapper [id^="edit-codes-"]  .row,
div.details-wrapper [id^="edit-variables-"] .row {
  margin-right: 0!important;
  margin-left: 0!important;
  padding-right: 0!important;
  padding-left: 0!important;
}

div.details-wrapper [id^="edit-codes-"] .col input,
div.details-wrapper [id^="edit-variables-"] .col input {
    padding: .375rem .75rem!important;
}

div.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content!important;
  z-index: 99999;
}

#toast-container {
  float: right;
}

/* TREE */
#block-hasco-barrio-content form.tree-form{
  padding-left:5px;
  max-width: 1360px !important;
  overflow-x: auto;
  white-space: nowrap;
}

#tree-root {
  overflow-x: auto;
  white-space: nowrap;
  max-height: 55vh!important;
  overflow-y: auto;
  margin-bottom: 10px;
}

.jstree-anchor {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
  white-space: normal !important;
  word-wrap: break-word;
}

.jstree-anchor[title]:hover:after {
  content: attr(title);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: normal;
  z-index: 1000;
  top: 110%;
  left: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.jstree-container-ul {
  padding-bottom: 40px!important;
}

#tree-search {
  max-width: 350px;
  display: inline-block;
  position: relative;
  padding-right: 30px;
}

#tree-search-wrapper {
  position: relative;
  display: inline-block;
}

#clear-search {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  display: none;

}

#clear-search:hover {
  color: #000;
}

#tree-root .jstree-anchor {
  font-size: 14px;
  color: #333;
}

#tree-root .jstree-anchor i {
  margin-right: 5px;
}


/* MODAL Open-Dialog */
/* .ui-dialog {
  position: fixed;
  top: 10% !important;
  bottom: auto;
  max-height: 90vh;
  width: auto !important;
  overflow: auto;
} */

.ui-dialog {
  width: calc(100% - 30%) !important;
  /* left: 25% !important; */
  right: 25% !important;
  top: 10% !important;
  transform: none !important;
  max-width: 1000px;
}

body.path-rep div.ui-dialog-titlebar {display:none!important;}

#node-comment-display {
  background-color: #e6e6e6;
  font-size: 90%;
  padding: 15px;
  border-radius: 7px;
  display: none;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.ui-dialog-content {
  max-height: calc(90vh - 100px);
  overflow-y: auto;
}


/* SIR */
div.vertical-tabs__panes {
  border-left: 1px solid #ccc !important;
  padding-left: 1.5rem!important;
}

#sdd-tabbed-form-wrapper div.vertical-tabs__panes {
  width: 89%!important;
}

li.vertical-tabs__menu-item.is-selected {
  background-color: #0066004f!important;
}

li.vertical-tabs__menu-item.is-selected a .vertical-tabs__menu-item-title{
  color: #3b3b3b!important;
  text-decoration: none!important;
}

li.vertical-tabs__menu-item a .vertical-tabs__menu-item-title{
  color: #3b3b3b!important;
  text-decoration: none!important;
}

/* FIELDSETS */
.fieldset-class {
  border: 2px solid #ecebeb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;

}

/* WIDTHs */
.w-10 {
  width: 10%!important;
}

.w-13 {
  width: 13%!important;
}

.w-15 {
  width: 15%!important;
}

.w-17 {
  width: 17%!important;
}

form#tree-form {
  max-width: 100%!important;
  width: 100%!important;}

#node-comment-display {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;

}

#edit-labels div {
  width: 100%;
  display: contents!important;
  margin-right: 1em!important;
}

#edit-labels div input {
  margin-left: .5em;
  margin-right: .5em;
}

#edit-filters,
#edit-labels,
#edit-filters div {
  margin-bottom: 0!important;
}

.form-managed-file .file a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
}

.js-form-wrapper.form-wrapper {
  margin-bottom: 0!important;
}

.row.js-form-wrapper.form-wrapper,
#cards-wrapper .col-md-4.js-form-wrapper.form-wrapper {
  margin-top: 1rem!important;
}

#tree-wrapper {
  margin-top: 1rem!important;
}

button.view-active {
  background-color: var(--bs-btn-active-bg)!important;
  color:var(--bs-gray-200)!important;
}

#page-wrapper {
  overflow-x: hidden;
}

#edit-submit[name='back'] {
  margin-top: 1rem;
}


/* CARDS */
.card {
  height: 100% !important;
  min-height: 280px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  /* padding: 1rem !important; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid #ddd !important;
  border-radius: 8px !important;
}

/* Garante que o corpo e o rodapé do card ocupem espaço adequadamente */
.card-body {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

/* Controla a imagem */
.card-body img {
  max-height: 160px !important;
  object-fit: contain !important;
}

/* Corrige o rodapé para alinhar botões na base do card */
.card-footer {
  margin-top: auto !important;
}

.row {
  display: flex !important;
  flex-wrap: wrap !important;
}
.col-md-4 {
  display: flex !important;
}
.card {
  width: 100% !important;
}

/* constrains every Drupal autocomplete dropdown to max 200px high */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  /* prevent the menu from growing horizontally */
  white-space: nowrap;
  z-index: 10000; /* make sure it floats above other elements */
}


/* DASHBOARD PAGE RELATES */
body.path-rep .card,
body.path-dpl .card {
  min-height: fit-content!important;
}

span.filename {
  display: inline-block;
  max-width: 20ch;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-all;
}


/* PILLS */
.nav-link.active-dp2 {
  background-color: var(--bs-nav-link-color)!important;
  color: var(--bs-nav-pills-link-active-color)!important;
}


/* DATE field */
#edit-instance-acquisition-date,
#edit-deployment-end-datetime-date,
#edit-deployment-end-datetime-time,
#edit-deployment-start-datetime-date,
#edit-deployment-start-datetime-time,
#edit-stream-start-datetime-date,
#edit-stream-start-datetime-time,
#edit-stream-end-datetime-date,
#edit-stream-end-datetime-time {
  max-width: 9rem!important;
}


#edit-ajax-cards-container {
    background-color: #cccccc;
    border-radius: 25px;
    margin: 25px;
    width: 98%;
    padding-bottom: 15px;
}


/* destaca nós mapeados */
.jstree-anchor.mapped-node {
  font-weight: bold;
  color: #0066cc;
}
